<nav class="links fadeIn animated">
    <ul>
        <li class="rss"><a title="RSS Feed" href="http://cloud.feedly.com/#subscription/feed/{{url absolute="true"}}/rss/" target="_blank"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="github"><a title="Facebook" href="https://www.facebook.com/Vegcipe-135518387136450/"><i class="fa fa-fw fa-facebook-square"></i></a></li>
    </ul>
</nav>
